/*DETAIL PRODUCT*/
#detail-product-wp .thumb-wp,
#detail-product-wp .thumb-respon-wp {
  width: 42%;
}
#detail-product-wp .thumb-respon-wp {
  border: 1px solid #c7c7c7;
}
#detail-product-wp .info {
  width: 58%;
  padding: 5px 20px;
}
#detail-product-wp .section-detail,
#post-product-wp .section-detail {
  background: #fff;
  padding: 15px;
}
#main-thumb .zoomWrapper img,
#detail-product-wp .owl-carousel .owl-item a img {
  border: 1px solid #d9d9d9;
}
#list-thumb {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
}
#detail-product-wp .owl-carousel .owl-item {
  padding: 0px 4px;
}
#detail-product-wp .owl-carousel .owl-item a {
  display: block;
}
#detail-product-wp .owl-controls {
  position: relative;
}
#detail-product-wp .owl-controls .owl-buttons div {
  position: absolute;
  bottom: 42px;
}
#detail-product-wp .owl-controls .owl-buttons div.owl-next {
  right: 0px;
}
#detail-product-wp .owl-controls .owl-buttons div.owl-prev {
  left: -8px;
}
#detail-product-wp .owl-controls .owl-buttons div.owl-next:before,
#detail-product-wp .owl-controls .owl-buttons div.owl-prev:before {
  position: absolute;
  font-family: "Fontawesome";
  top: 0;
  left: 0;
  font-size: 26px;
  opacity: 0.5;
}
#detail-product-wp .owl-controls .owl-buttons div:hover:before {
  opacity: 1;
}
#detail-product-wp .owl-controls .owl-buttons div.owl-next:before {
  content: "\f105";
}
#detail-product-wp .owl-controls .owl-buttons div.owl-prev:before {
  content: "\f104";
}
.thumb-respon-wp {
  display: none;
}
#detail-product-wp .info .product-name {
  font-size: 24px;
  /* padding-bottom: 15px; */
  /* margin-bottom: 20px; */
  border-bottom: 1px solid;
}
#detail-product-wp .info .desc p {
  color: #666;
  padding-bottom: 5px;
}
#detail-product-wp .info .desc p:last-child {
  padding-bottom: 0;
}
#detail-product-wp .info .desc {
  margin-top: 15px;
}
#detail-product-wp .info .num-product {
  margin-bottom: 25px;
}
#detail-product-wp .info .num-product .title {
  color: #666;
}
#detail-product-wp .info .num-product .status {
  display: inline-block;
  background: #ddd;
  padding: 0px 10px;
}
#detail-product-wp .info .price {
  display: flex;
  font-size: 18px;
  font-family: "Roboto Medium";
  color: #da1818;
  margin-bottom: 15px;
}
#detail-product-wp .info .price p {
  font-size: 28px;
}
#detail-product-wp .info .price span {
  font-size: 22px;
  text-decoration: line-through;
  margin-left: 30px;
  color: #ccc;
}
#num-order-wp {
  margin-bottom: 25px;
}
#num-order-wp {
  width: 100%;
}
#num-order {
  max-width: 100%;
  /* line-height: 30px; */
  text-align: center;
  border: 1px solid #b1b1b1;
  font-family: "Roboto Regular";
  color: #545454;
}
#minus,
#plus {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #a0a0a0;
  font-family: "Roboto Regular";
  color: #515151;
  font-size: 10px;
  cursor: pointer;
}
#minus:hover {
  color: #3a9800;
  border: 1px solid #3a9800;
}
#plus:hover {
  color: #f00;
  border: 1px solid #f00;
}
#detail-product-wp .add-cart {
  display: inline-block;
  padding: 10px 30px;
  font-size: 16px;
  background: green;
  color: #fff;
  border-radius: 5px;
  text-transform: uppercase;
}
#detail-product-wp .add-cart:hover {
  background: #006d00;
}
#post-product-wp .section-title,
#same-category-wp .section-title {
  background-color: #da1818;
  font-size: 16px;
  margin: 35px 0px 20px 0px;
  text-transform: uppercase;
  padding: 10px;
  color: #fff;
  width: 200px;
  border-radius: 10px;
  text-align: center;
}
#post-product-wp .section-detail p {
  padding-bottom: 15px;
  color: #666;
  text-align: justify;
}
.description-product {
  border: 1px solid;
  border-radius: 10px;
  padding: 10px;
}
.description-product span {
  font-size: 18px;
}
.desc-title {
  border-bottom: 1px solid;
}
.img-product {
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  border-radius: 5px;
}
.image-product {
  display: flex;
}
.owl-wrapper {
  left: 0px;
  display: flex;
}
.section-detail form {
 
  position: relative;
}
.form-comment {
  width: 100%;
}
.form-comment input {
  font-size: 18px;
  width: 100%;
  height: 200px;
  padding-left: 10px;
  padding-bottom: 120px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 10px;
}
.btn-comment {
  right: 3%;
  bottom: 5%;
  position: absolute;
}
.btn-comment input {
  background: #da1818;
  padding: 10px 15px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
  border-radius: 10px;
  color: #fff;
}
.btn-comment input:hover{
  transition: 0.5s ease;
  background-color: #000;
}